/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        color: #333;
  
    }

    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .error {
            color: #FF4136;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }

        label {
            margin-bottom: 0.25rem;
            font-weight: bold;
            color: #555;
        }

        input, select {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;

            &:focus {
                border-color: #007BFF;
                outline: none;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }

            &.invalid {
                border-color: #FF4136;
                background-color: #FFECEC;
            }
        }
    }
}

.form-value {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #eef6ff;
    border: 1px solid #cce0ff;
    border-radius: 4px;
}